    header {
        background-color: #FFFFFF;
        height: 70px;
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        display: flex;
        align-items: center;
    }

    header div.logo {
        width: 100px;
        margin-left: 20px;
    }

    deader div.logo img {
         
    }