    header {
        background-color: #FFFFFF;
        height: 70px;
        width: 100%;
        border-bottom: 1px solid #CCCCCC;
        display: flex;
        align-items: center;
    }

    header div.logo {
        background: url('../images/logo_airbnb.png') no-repeat center;
        background-size: contain;
        height: 40px;
        width: 100px;
        margin-left: 20px;
    }